<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>paginainicial</title>
     <link rel="stylesheet" href="home.css">
</head>
<body>
    <center><div class="quadrado"><h2 class="texto"> Garanta seu futuro na ETE Porto Digital!</h2></div></center><br><br>
    <div class="container"> 
        <div class="texto">
            <p class="cor">Imagine estudar em um dos centros de inovação mais respeitados do Brasil, onde a tecnologia e o empreendedorismo caminham juntos para transformar o mundo. Na ETE Porto Digital, você não só aprende, mas vive a experiência de estar em um dos polos de tecnologia mais avançados do país.</p>
            <p class="cor">Aqui, você terá acesso a professores altamente qualificados, uma estrutura moderna e oportunidades reais de conexão com empresas do setor. Se você deseja se destacar e construir uma carreira de sucesso na tecnologia e inovação, essa é sua chance!</p>
            <p class="cor">A prova de entrada é sua porta de entrada para esse mundo de possibilidades. Não perca essa oportunidade de investir no seu futuro! Prepare-se, inscreva-se e dê o primeiro passo rumo ao seu sucesso profissional!</p>
            <center><button onclick="window.location.href='file:///C:/Users/lab01/Desktop/template/formulario.html'">Ir para outra página</button></center>
            <!-- <a  href="file:///C:/Users/lab01/Desktop/template/index.html" class="link" target="_blank">Clique aqui para se inscrever</a> -->
        </div>
         <div class="imagem">
            <img src="https://www.consed.org.br/storage/news/5cddbda14a99d.jpg" alt="Imagem" width="800">
           
         </div>
         
    </div>
    
</body>
</html>